{erl_opts, [debug_info]}.

{deps, [
  {lager, "3.6.1"},
  {hackney, "1.11.0"},
  {jsx, "2.9.0"}
]}.

%% == Shell ==

{shell, [
  {config, ["config/sys.config"]},
  {apps, [fcm]}
]}.

%% == Erl options ==

{dist_node, [
  {name, 'fcm@127.0.0.1'},
  {setcookie, fcm}
]}.

%% == Profiles ==

{profiles, [
  {test, [
    {deps, [
      {meck, "0.8.9"}
    ]}
  ]}
]}.

%% == Common Test ==

{ct_opts, [
  {sys_config, ["config/sys.config"]},
  {ct_hooks, [cth_surefire]}
]}.